<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="crmSettings" type="PZone.Configuration.StartupCrmSettingsSection, PZone.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <crmSettings>
    <connections>
      <connection name="Dev" host="crmdevapp01" orgname="DEV01" sqlhost="crmdevdb01" />
    </connections>
  </crmSettings>
</configuration>
